
@import url(html.css);


/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: fixed;
  top: 0;
  width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
 /* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
/**************************/

/* this changes the general color of the whole page, font and how far the text is from the edges. */
body {
  background-color: #fdfdfd;
  font-family: SansSerif;
  /*padding: 0px 0px 0px;
  margin: 0px 0px 0px;*/
  color: #fdfdfc;
  /*text-shadow: 0 1px 1px black;*/
}

/* this changes the navigation bar at the top of the page*/
div.related {
  background-color: #6565f5;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  clear: page;
}


/* this changes the spacing and location of the title in the navigation bar */
div.related h3 {
  display: none;
}

/* this changes the list in the navigation bar, you can choose to have number lists in different languages
div.related ul {
  display: inline;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}
*/
/*changes how you want to display the list. Horizontally or vertically or like a list*/
div.related li {
  list-style-type: circle;
  padding-inline-start: 10px;
}
li::marker {
  color: RED;
}
/*
 changes where the next|index is.
div.related li.right {
    float: right;
    margin-right: 0.1em;
}
*/


/* controls the whole text on the nav bar. except the navigation bar title*/
div.related a {
  color: #fcfafa;
}

/* basically adds color to the body text, like behind it*/
div.section {
  background-color: #fcfafa;
  border-radius: 0px;
  padding: 10px 0px 0px;
  margin: 10px 0px 0px;
}

/*changes the format of the h1. So any text above or below ====== */
div.section h1 {
  text-align: center;
  font-size: actual;
  border-bottom: 5px lightpink #090500;
  padding: 10px;
  margin: 0;
}
/*this edits the style of h2, anything with ---- above or under* so if you wanted to continue editing your headers just
change h1 to h3 for example. Header notation is based on sphinx styling */
div.section h2 {
  text-align: left;
  font-size: 140%;
  padding: 0px;
  margin: 0;
}

/* This edits the styling of paragraph text/general text, so this applies to TOC titles [:caption:]*/
div.section p {
  margin: 0;
  padding: 10px 0px;
  color: #000000;
  /*text-shadow: #98dbcc;*/
}

/* This sets requirements for your images, for example you can bound it to limits or minimums. */
div.section img {
  margin: 2px 2px 2px;
  vertical-align: left;
  padding: 0.5em 0.5em 0.5em;
  max-width: 100%;
;
}

/* this moves the footer, this is where the Copyright is located*/
div.footer {
  margin: 0.5em;
  font-size: 80%;
  text-align: right;
}

/* This is a border around the body border*/

div.documentwrapper {
  float: left;
  width: 100%;
  background-color: #333333;
}
/*
div.sphinxtopbar {
  float: left;
  width: 220px;
  margin-left: -100%;
  padding: 0px;
}

*/

/* this is link text, any text associated with a link will be modified*/
a{
  font-size: 17px;
  text-decoration: none;
  color: #070001;
}

/* When you hover over a link, this function will change its style*/
a:hover{
  color: goldenrod;
  font-weight: bold;
}

/*this makes the body to the side
div.bodywrapper {
  margin: 0 0 0 220px;
}
*/
