name: Auto Tests
on: [push]
jobs:
  linux_tests:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: install deps
        run: |
          sudo add-apt-repository ppa:ubuntugis/ppa -y
          sudo apt-get install -y qgis
          sudo apt-get install -y python3

      - name: Run tests
        env:
          QT_QPA_PLATFORM: offscreen
          QGIS_AUTH_DB_DIR_PATH: ./auth
        run: |
          mkdir ./auth
          source test/run-env-linux.sh /usr
          python3 -m unittest discover --verbose
